<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> Net.Scritpts </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column" style="min-width: 250px;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Начальная страница
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="replicator-ibs">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Replicator Interbase
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="replicator-ora">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Replicator Oracle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whisper-server">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Whisper.Net
            </NavLink>
        </div>

    </nav>
</div>

