@page "/about"

<PageTitle>Описание</PageTitle>

<h2 style="font-family: 'Arial', sans-serif; color: #333; text-align: center; margin-top: 20px;">Используемые библиотеки</h2>

<br />- Whisper.net
<br />- Whisper.net.Runtime (for CPU)
<br />- Whisper.net.Runtime.Clblast (for GPU)
<br />- interbasesql.data.interbaseclient v.7.14.6
<br />- Oracle.ManagedDataAccess.Client (Oracle.ManagedDataAccess.Core для net8.0)
<br />- C# Blazor
<br />- Ffmpeg
<br />- LLamaSharp
